@charset "UTF-8";
/* 多行注释 loud comment*/
/*
 * 1 + 1 = 2*/
/*! compressed mode */
body {
  font-size: 14px;
}

/* 变量 */
.container {
  color: red;
  background-color: green;
  font-size: 50px;
  width: 30%;
}

/* 嵌套 */
nav ul, nav .box, .tabs ul, .tabs .box {
  background-color: #333;
  color: #fff;
}
nav li, .tabs li {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}
nav li span, .tabs li span {
  font-style: 12px;
}

/* 选择器 */
.list > .item {
  width: 30px;
}
.list + .item1 {
  width: 100px;
}
.list ~ .item2 {
  width: 80px;
}
.list:hover {
  background-color: red;
}

/* 父级选择器 */
/* 添加前缀 */
.modal:hover {
  background: red;
}
.common .modal {
  margin: 0;
}
:not(.modal) {
  padding: 0;
}
.modal_b {
  margin: 0;
}
.modal_b-c {
  margin: 10px;
}

/* 自定义属性 */
:root {
  --color: red;
}

.wrap {
  color: var(--color);
}

/* 继承、占位选择器 */
.box2, .box1, .box {
  display: flex;
}

.box1 {
  background: red;
}

.box2 {
  background: green;
}
