.mgr10 {
  margin-right: 10px;
}

.mgr20 {
  margin-right: 20px;
}

.mgr30 {
  margin-right: 30px;
}

.mgr40 {
  margin-right: 40px;
}

.mgr50 {
  margin-right: 50px;
}

.mgr60 {
  margin-right: 60px;
}

.mgr70 {
  margin-right: 70px;
}

.mgr80 {
  margin-right: 80px;
}

.mgr90 {
  margin-right: 90px;
}

.mgr100 {
  margin-right: 100px;
}
