.mgr10 {
  margin-right: 10px;
}

.mgr20 {
  margin-right: 20px;
}

.mgr30 {
  margin-right: 30px;
}

.mgr40 {
  margin-right: 40px;
}

.mgr50 {
  margin-right: 50px;
}

.mgr60 {
  margin-right: 60px;
}

.mgr70 {
  margin-right: 70px;
}

.mgr80 {
  margin-right: 80px;
}

.mgr90 {
  margin-right: 90px;
}

.mgr100 {
  margin-right: 100px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt20 {
  margin-top: 20px;
}

.mgt30 {
  margin-top: 30px;
}

.mgt40 {
  margin-top: 40px;
}

.mgt50 {
  margin-top: 50px;
}

.mgt60 {
  margin-top: 60px;
}

.mgt70 {
  margin-top: 70px;
}

.mgt80 {
  margin-top: 80px;
}

.mgt90 {
  margin-top: 90px;
}
